.linkCard {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 32px;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.08);
}

.linkCard_date {
  font-size: 14px;
}

.linkCard_title {
  font-size: 24px;
}

.linkCard_link {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.linkCard_source {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.5;
  letter-spacing: 0.007em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.linkCard_text {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0.007em;
}
