@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;

  background: radial-gradient(
      circle at 20% 0,
      rgba(253, 187, 61, 0.12),
      transparent 55%
    ),
    radial-gradient(
      circle at 80% 100%,
      rgba(120, 154, 255, 0.18),
      transparent 55%
    ),
    #ffffff;
  color: #000;
}

main {
  min-height: 90vh;
}

a {
  text-decoration: underline;
  text-decoration-color: #ffb84d;
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  position: relative;
  z-index: 30;

  max-width: 1024px; /* Tailwind max-w-screen-lg */
  margin-left: auto;
  margin-right: auto;

  padding-top: 2rem; /* pt-8 */
  padding-left: 2rem; /* px-8 */
  padding-right: 2rem;

  font-size: 1.125rem;
}

.navigation__left {
  display: flex;
  flex-direction: column;
  justify-content: center;

  grid-column-start: 1;
  grid-column-end: span 5;
}

.icon {
  fill: #000;
}

/* MARQUE */
.marque a {
  line-height: 1.2;
  text-decoration: none;
  :hover {
    transition: all 0.4s ease-in-out;
    color: var(--text-muted, #4b5563);
  }
}

/* NAVIGATION */
.navigation__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navigation__links > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.navigation__link-icon {
  fill: #000;
}

.navigation__link-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: underline;
  text-decoration-color: #ffb84d; /* decoration-main-400 */
}

.navigation__links > a :hover {
  color: #ffb84d;
}

.navigation__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  line-height: 1.25;

  grid-column-start: 10;
  grid-column-end: span 3;
}

.navigation__link {
  display: block;
  color: #1f2937; /* gray-800 */
}

.navigation__link-email span {
  color: #6b7280; /* gray-500 */
}

/* INTRO */
.intro {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 4rem;
  z-index: 20;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.intro-left {
  grid-column: 4 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

.intro-mission {
  grid-column: 4 / span 6;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

.intro-title {
  font-size: 2.75rem;
  line-height: 3rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  color: var(--text-muted, #4b5563);
}

.intro-name {
  font-weight: 600;
  color: var(--text-main, #111827);
}

.intro-role {
  color: var(--text-main, #000);
}

.intro-title i {
  color: var(--text-main, #111827);
}

.intro-mission {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--text-soft, var(--text-muted, #4b5563));
}

/* Container */
.bento {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  max-width: 1280px; /* max-w-screen-xl */
  margin: 3rem auto; /* my-12 */
  padding-left: 1rem;
  padding-right: 1rem;
}

/* md breakpoint */
@media (min-width: 768px) {
  .bento {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 312px;
  }

  .bento__item--large {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    max-height: 500px;
  }
  .bento__item--tall {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
  }

  .bento__item--icons {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

/* Shared item styles */
.bento__item {
  border: 1px solid #cbd5e1; /* slate-300 */
  border-radius: 0.375rem;
  overflow: hidden;
  max-height: 260px;
}

/* Media */
.bento__media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Video tile */
.bento__item--video {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 140px;
  max-height: 160px;
  background-color: #ffffff;
}

.bento__video {
  max-width: 240px;
  padding: 2rem;
}

/* Icon grid tile */
.bento__item--icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  min-height: 140px;
  padding: 0.5rem;
  background-color: #f8fafc; /* slate-50 */
}

.bento__icon-row {
  display: flex;
  gap: 1rem;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-title {
  color: rgb(30 41 59);
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.experience-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience-overline {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: monospace;
  color: rgb(51 65 85);
}

.experience-secondary {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: monospace;
  color: rgb(71 85 105);
}

.experience-secondary span {
  color: rgba(54, 40, 14, 0.82);
  background: radial-gradient(
    circle at 20% 0,
    rgba(253, 187, 61, 0.12),
    transparent 55%
  );
  padding: 2px 8px;
  border-radius: 99px;
  font-size: 0.75rem;
  border: solid 1px rgba(253, 187, 61, 0.22);
}

.experience-logos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.experience-logo {
  width: 160px;
}

.experience-logo-sm {
  width: 80px;
}

/* POSTS */

.posts {
  margin: 2rem 0;
}

.posts__post-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.posts__post-title {
  font-size: 1.875rem;
  line-height: 2.5rem;
  letter-spacing: -0.03em;
  font-weight: 400;
}

.post__post-date {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: monospace;
  color: rgba(255, 255, 255, 0.8);
}

.post__post-description {
  color: rgba(255, 255, 255, 0.6);
}

/* ARTICLES */

.article__date {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: monospace;
}

.page {
  display: flex;
  flex-direction: column;
}

.page__article {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

.page__article > h2 {
  font-size: 1.865rem;
}

.page__article > p > a:hover {
  color: rgb(255 239 194);
}

@media (max-width: 1024px) {
  header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .navigation__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .navigation__links > a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 48px;
    height: 48px;
    border-radius: 28px;
    color: #1f2937;
  }

  .navigation__link-email {
    display: none;
  }

  .navigation__left {
    grid-column-start: 0;
    grid-column-end: span 5;

    justify-content: flex-end;
  }

  .navigation__right {
    flex-direction: row;

    grid-column-start: 7;
    grid-column-end: span 6;
  }
  .intro {
    margin: 5rem 1rem;
  }
  .intro-title {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  .intro-left {
    grid-column: 1 / span 12;
  }

  .intro-mission {
    grid-column: 1 / span 12;
  }

  .location {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: radial-gradient(
        circle at 20% 0,
        rgba(253, 187, 61, 0.12),
        transparent 25%
      ),
      radial-gradient(
        circle at 80% 100%,
        rgba(120, 154, 255, 0.18),
        transparent 45%
      ),
      #020617;
    color: #fff;
  }

  .icon {
    fill: #fff;
  }

  .navigation__link-email span {
    color: #9ca3af; /* gray-400 */
  }

  .navigation__link-email {
    color: #f3f4f6; /* gray-100 */
  }

  .navigation__link-icon {
    fill: #e5e7eb; /* slate-800 */
  }

  .intro-role {
    color: white;
  }
  .intro-title {
    color: rgba(255, 255, 255, 0.6);
  }
  .intro-title i {
    color: #fff;
  }

  .intro-mission {
    color: rgba(255, 255, 255, 0.8);
  }

  .experience-overline {
    color: rgb(148 163 184);
  }
  .experience-title {
    color: white;
  }

  .experience-item {
    color: rgb(226 232 240);
  }

  .experience-secondary {
    color: rgb(148 163 184);
  }

  .experience-secondary span {
    color: rgb(226 232 240);
    background: radial-gradient(
      circle at 20% 0,
      rgba(253, 187, 61, 0.12),
      transparent 55%
    );
    border: solid 1px rgba(253, 187, 61, 0.12);
  }
}
