.intro {
  grid-column: 2 / span 8;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 72px 0;
}

.marque {
  width: 96px;
height: 96px;
animation-duration: 1s;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.readmore {
    background: var(--primary-color);
    color: black;
    padding: 4px 12px;
    border-radius: 16px;
    /* Primary Button */

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
    margin-bottom: 32px;

}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-style: normal;
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: 0.6px;
  animation-duration: 1s;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.bold {
  font-weight: 600;
}

.italics {
  font-style: italic;
}

.title,
.description {
  text-align: left;
}

.subtitle {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1024px) {
    .intro {
        grid-column: 1 / -1;
        margin: 1rem 0;
        grid-row: row-start 1 / span 2;
      }
      .title {
        line-height: 1.15;
        font-size: 40px;
      }
  }

  @media only screen and (max-width: 500px) {
    .intro {
        grid-column: 0 / -1;
        margin: 1rem 0;
        grid-row: row-start 1 / span 2;
      }
      .title {
        line-height: 1.15;
        font-size: 2rem;
      }
  }

  /* Animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}