.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  /* grid-template-rows: repeat(8,vw); */
  gap: 16px;
  margin: auto;
  transition: all 0.2s;
  padding: 5rem 0;
  margin: 0 auto;
  max-width: 1800px;
}

.introText {
  grid-column: 1 / 7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.blockTwo {
  grid-column: 7 / 10;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockThree {
  grid-column: 10 / 13;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockFour {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.blockFive {
  grid-column: 4 / 7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.blockSix {
  grid-column: 7 / 13;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.header {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.85px;
}

.marque {
  margin-bottom: 8px;
  width: 64px;
  height: 64px;
}

@media only screen and (max-width: 1280px) {
  .header {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.85px;
  }
}

@media only screen and (max-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    /* grid-template-rows: repeat(8,vw); */
    gap: 16px;
    margin: auto;
    transition: all 0.2s;
    padding: 5rem 0;
  }

  .introText {
    grid-column: 1 / 12;
  }

  .blockTwo {
    grid-column: 1 / 7;
  }

  .blockThree {
    grid-column: 7 / 13;
  }
  .blockFour {
    grid-column: 1 / 7;
  }

  .blockFive {
    grid-column: 7 / 13;
  }
  .blockSix {
    grid-column: 1 / 13;
  }
}
